.phone-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    .phone {
        height: 100%;
        z-index: 2;
        opacity: 0;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
    }
    @media (max-width: $mobile) {
        display: none !important;
    }
}
.show {
    .phone {
        visibility: visible;
        opacity: 1;
    }
    .chat {
        @media (min-width: $mobile) {
            background-color: rgba(238, 238, 238, 0.5) !important;
        }
    }
}
.video-background {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* object-fit: fill; */
    object-fit: cover;
    object-position: center center;
}
.chat-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    &.hide {
        display: none;
    }
    .chat {
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 80%;
        border-radius: 62px;
        width: 34vh;
        max-height: -webkit-fill-available;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 2%;
        padding-top: 7rem;
        background: transparent;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
        @media (max-width: $mobile) {
            margin: auto;
            padding: initial;
        }
    }
}
